@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

h1, button, p, div {
  font-family: 'Raleway';
}

/* Cambia el color del scroll en navegadores compatibles */
::-webkit-scrollbar {
  width: 10px; /* Ancho del scroll */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(56, 35, 2, 0.5); /* Color del scroll */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(31, 20, 1, 0.824); /* Color del scroll al pasar el cursor sobre él */
}
